body{
  background:linear-gradient(90deg ,#E4C2FF,#FFFFFF);
  /* background-repeat: no-repeat; */
}
.heading
{
  text-align: center;
}
.sub-heading{
  text-align: center;
  font-weight: bold;
}
.incomplete{
  text-align: center;
  font-weight: bold;
  font-size: large;
}
.Liststyle
{
  list-style: none;
}
li
{
  background-color: #ffffff;
  border-radius: 4px;
  padding: 16px;
  margin: 8px;
  box-shadow:5px 5px #cecece ;
  
}